* {
    margin: 0;
    padding: 0;
}


.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.header-container{
    margin: 0 auto;
}
.navbar {
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.nav-item li {
  align-items: center;
  list-style: none;
  margin-right: 50px;
  font-weight: 300;
}
.nav-item li a {
  text-decoration: none;
  color: black;
}

.home{
    font-weight: bold;
}
.image-title{
    margin-top: 152px;
    justify-content: space-between;
    align-items: end;
}
.title-description{
    max-width: 580px;
    align-content: center;
}
.fresh-title{
     font-size: 4rem;
     margin-bottom: 13px;
}
.color-text {
    color: #e95a08;
}
.container {
    max-width: 90%;
    margin: 0 auto;
}
.display-flex{
  display: flex;
}
.description{
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
}
.btn{
    background-color: #e95a08;
    color: white;
    width: 100%;
    border: none;
    padding: 10px 0;
}
.shop-now-btn{
    border: none;
    background: none;
    color: white;
    font-weight: 600;
}
.title-card-container{
    margin-top: 100px;
    margin-bottom: 200px;
}
.our-title-desc{
    text-align: center;
    margin-bottom: 50px;
}
.card-title{
    font-size: 2rem;
    margin-bottom: 10px;
}
.card img{
    width: 100%;
    height: auto;
}

.card-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: 0 auto;
    place-content: center;
    padding: 0 15px;
}
.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.flower-title{ 
    font-weight: 500;
}
.price{
    font-weight: bold;
}
.flower-lover-section {
    margin-top: 120px;
}
.store-title{
    position: relative;
    justify-content: center;
    gap: 20px;
}
.store-photo{
    height: auto;
}
.flower-lover-title-desc{
    width: 30%;
    margin-top: 50px;

}
.flower-lover-title-desc ul li{
    margin-bottom: 10px;
    font-weight: 400;
}
.flower-lover-title-desc ul{
    margin-left: 20px;
}
.flower-lover-title{
    font-size: 3rem;
    margin-top: 20px;
}
.badge img {
    width: 280px;
    height: 280px;
}
.badge {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.challenge-part{
    margin-top: 120px;
}
.box-container{
    margin: 0 auto;
    display: flex;
    gap: 20px;
}
.flower-one {
    width: 300px;
    height: 200px;
    background-image: url(assets/deal-bloom.png);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flower-two {
    width: 300px;
    height: 200px;
    background-image: url(assets/deal-ana.png);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.flower-three{
    width: 80%;
    height: auto;
    background-image: url(assets/deal-zabo.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.zabo-title{
    font-size: 2.8rem;
}
.zabo-title-link{
    font-size: 1.5rem;
    margin-top: 10px;
}
.content-box{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.btn-text{
    color: white;
    text-align: center;

}
.input-btn-container{
    text-align: center;
    margin-top: 120px;
    width: 100%;
    height: 530px;
    background-image: url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.email-submit-content{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 0;
}
.title-btn{
    width: 80%;
    margin: 0 auto;
}
.bunch-title{
    color: white;
    font-size: 1.8rem;
}
.email{
    width: 600px;
    padding: 12px;
    border: none;
}
.submit{
    width: 200px;
    background-color: #e95a08;
    color: white;
    font-weight: 600;
    border: none;
}


