* {
    margin: 0;
    padding: 0;
}


.noto-serif-normal {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.header-container{
    margin: 0 auto;
}
.navbar {
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.nav-item li {
  align-items: center;
  list-style: none;
  margin-right: 50px;
  font-weight: 300;
}
.nav-item li a {
  text-decoration: none;
  color: black;
}

.home{
    font-weight: bold;
}
.image-title{
    margin-top: 152px;
    justify-content: space-between;
    align-items: end;
}
.title-description{
    max-width: 580px;
    align-content: center;
}
.fresh-title{
     font-size: 4rem;
     margin-bottom: 13px;
}
.color-text {
    color: #e95a08;
}
.container {
    max-width: 90%;
    margin: 0 auto;
}
.display-flex{
  display: flex;
}
.description{
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
}
.btn{
    background-color: #e95a08;
    color: white;
    width: 100%;
    border: none;
    padding: 10px 0;
}
.shop-now-btn{
    border: none;
    background: none;
    color: white;
    font-weight: 600;
}